/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/*
================= Base Styles =================
*/

html {
    font-size: 62.5%;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

.spacing {
    margin: 0 6rem;
}

/*
================= Layout =================
*/

.nav-list,
.inner-list {
    display: flex;
}

.nav-list {
    justify-content: space-between;
}
.inner-list {
    justify-content: flex-end;
}

/*
================= Additional =================
*/

/*
----------------- Header -----------------
*/

.primary-header {
    margin-top: 2rem;
}

/* - - - - - - nav - - - - - - */


.nav-list li {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0 2rem;
}

#home {
    font-weight: 700;
    padding-left: 1rem;
    border-left: .3rem solid dodgerblue;
}

#contact {
    color: white;
    padding: 1rem 2rem;
    background: linear-gradient(45deg, #00c9a0, #019df7);
    border-radius: .5rem;
}


/*
----------------- Footer -----------------
*/

.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 2rem;
}

.page-author {
    font-size: 1.2rem;
}

.author {
    font-weight: 700;
    color: dodgerblue;
}