/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/*
================= Base Styles =================
*/

html {
    font-size: 62.5%;
    color: #252b3a;
}

body {
    background: #f1f6ff;
}

a {
    color: #252b3a;
    text-decoration: none;
}

li {
    list-style: none;
}

a, p, li, label, input::placeholder, textarea::placeholder {
    font-family: 'Oxygen', sans-serif;
}

::placeholder {
    font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-weight: 600;
    font-size: 4rem;
}

.spacing {
    margin: 0 7%;
}

.gradient-text {
    background-image: linear-gradient(135deg, #019df7, #00c9a0);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.shadow {
    box-shadow: 1.5rem 1.5rem 6rem rgba(37,43,58, .1);
}

/*
================= Layout =================
*/

.nav-list,
.inner-list {
    display: flex;
}

.nav-list {
    justify-content: space-between;
}
.inner-list {
    justify-content: flex-end;
}

/*
================= Additional =================
*/

/*
----------------- Header -----------------
*/

.primary-header {
    margin: 2rem 0;
}

/* - - - - - - nav - - - - - - */


.nav-list li {
    font-size: 1.5rem;
    font-weight: 300;
}

.inner-list li {
    padding: 0 2rem;
    animation: padding 4s;
}

@keyframes padding {
    0% {
        padding: 0 2.5rem;
    }

    100% {
        padding: 0 2rem;
    }
}

.inner-list li:last-child {
    padding-right: 0;
    animation: remove-right 4s;
}

@keyframes remove-right {
    100% {
        padding-right: 0;
    }
}

#work-with-me {
    font-weight: 700;
    padding-left: 1rem;
    border-left: .3rem solid #019df7;
}

#with-one {
    animation: color-change ease-out 3s;
}

#with-two {
    animation: color-change ease-out 4.5s;
}

#with-three {
    animation: color-change ease-out 6s;
}

#with-four {
    animation: color-change ease-out 7.5s;
}

@keyframes color-change {
    0% {
        color: #00c9a0;
    }

    50% {
        color: #019df7;
    }

    100% {
        color: #252b3a;
    }
}

#contact-button {
    color: white;
    padding: 1rem 2rem;
    background: linear-gradient(45deg, #00c9a0, #019df7);
    border-radius: .5rem;
    animation: grow 3s;
}

@keyframes grow {
    0% {
        padding: .5rem 1rem;
        margin-left: 2rem;
    }
    100% {
        padding: 1rem 2rem;
        margin-left: 0;
    }
}
/*
----------------- Main -----------------
*/

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 70rem;
}

.main-content {
    max-width: 70%;
    margin: 14rem 0;
}

.main-text {
    margin-bottom: 4rem;
}

.title {
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 2.5rem;
    animation: zoom-in 3s;
}

@keyframes zoom-in{
    0% {
        font-size: 2rem;
    }

    100% {
        font-size: 6rem;
    }
}

.engineer {
    padding-right: .1rem;
}

.info {
    color: #4f5569;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
    animation: zoom-out 1s;
}

@keyframes zoom-out{
    0% {
        font-size: 2.1rem;
    }

    100% {
        font-size: 2rem;
    }
}

#circle-one,
#circle-two,
#circle-three {
    position: absolute;
    z-index: -1;
    opacity: .25;
}

#circle-one {
    top: 40rem;
    left: 4%;
    width: 18rem;
    animation: grow-one 5s;
}

@keyframes grow-one {
    0% {
        width: 5rem;
    }

    100% {
        width: 18rem;
    }
}

#circle-two {
    top: 19rem;
    left: 35%;
    width: 3rem;
    animation: grow-two 7s;
}

@keyframes grow-two {
    0% {
        width: 1rem;
    }

    100% {
        width: 3rem;
    }
}

#circle-three {
    top: 40rem;
    left: 43%;
    width: 9rem;
    animation: grow-three 6s;
}

@keyframes grow-three {
    0% {
        width: 3rem;
    }

    100% {
        width: 9rem;
    }
}

#discover {
    font-size: 1.5rem;
    color: white;
    padding: 1rem 2rem;
    background: linear-gradient(45deg, #00c9a0, #019df7);
    border-radius: .5rem;
    animation: slide-in 2s;
}

@keyframes slide-in {
    0% {
        padding: .5rem 1rem;
        margin-left: 5rem;
    }

    100% {
        padding: 1rem 2rem;
        margin-left: 0;
    }
}

/* - - - - - main image - - - - - */

.me {
    width: 42rem;
    border-radius: 2rem;
    animation: enlarge 3.5s;
}

@keyframes enlarge{
    0% {
        width: 20rem;
    }

    100% {
        width: 42rem;
    }
}

#arrow {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 5rem;
    top: 90%;
    animation: direct-downward 1s infinite;
}

@keyframes direct-downward {
    0% {
        top: 90%;
    }

    100% {
        top: 93%;
    }
}

/*
----------------- Services -----------------
*/

.services {
    text-align: center;
    margin-bottom: 10.2rem;
    animation: position-up 3s;
}

#servcies-heading {
    margin-bottom: 4rem;
    animation: service-heading-grow 3s;
}

@keyframes service-heading-grow {
    0% {
        font-size: 2rem;
    }
    100% {
        font-size: 4rem;
    }
}

.services-container {
    display: flex;
    justify-content: space-between;
    animation: bring-together 3s;
}

@keyframes bring-together {
    0% {
        margin: 0 1%;
    }
    100% {
        margin: 0 7%;
    }
}

.service-div {
    background: white;
    padding: 2rem;
    max-width: 21%;
    border-radius: .8rem;
    min-height: 28rem;
}

.service-title {
    font-weight: 700;
    font-size: 2rem;
    margin: 1.5rem 0;
}

.service-p {
    font-size: 1.5rem;
    line-height: 1.3;
}

.icon {
    width: 7rem;
}

/*
----------------- About -----------------
*/

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10rem 0;
}

.about-text,
.about-image {
    padding: 5rem;
}

.about-text {
    flex-basis: 70%;
}

.about-image {
    flex-basis: 30%;
}

.about-title {
    margin-bottom: 2rem;
    animation: about-grow 3s;
}

@keyframes about-grow {
    0% {
        font-size: 2rem;
    }

    100% {
        font-size: 4rem;
    }
}

.about-info {
    font-size: 2rem;
    line-height: 1.5;
    color: #4f5569;
}

.about-image {
    text-align: center;
}

#brian-image {
    width: 20rem;
    border-radius: 50%;
    border: 1rem solid white;
    margin-bottom: 2rem;
    animation: turn-in 3s;
}

@keyframes turn-in {
    0% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.about-image-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}


.logo {
    margin: 0 1rem;
    width: 3rem;
    height: 3rem;
}

/*
----------------- Work -----------------
*/

.work {
    text-align: center;
    /* margin-top: 3rem; */
    margin-bottom: 15rem;
}

.column-container {
    display: flex;
    flex-direction: column;
    background: rgba(37, 43, 56, 0.1);
    border-radius: 1rem;
    padding: 1%;
    margin-top: 4rem;
}

.row-container {
    display: flex;
}

.row {
    display: inline-block;
    position: relative;
    width: 33%;
    margin: 1%;
}

.project {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.overlay {
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 100%;

    background: transparent;
    color: transparent;

    overflow: hidden;

    border-radius: 1rem;
}

.overlay:hover {
    background: rgba(37,43,58, .8);
    color: white;
}

.overlay-button {
    color: transparent;
}

.overlay:hover * {
    color: white;
}

.overlay-title {
    font-size: 3rem;
    margin: 20% 0 5% 0;
}

.overlay:hover .overlay-button {
    font-size: 1.3rem;
    padding: 1% 2%;
    border: .2rem solid #019df7;
    border-radius: .5rem;
}

.overlay:hover .green {
    border-color: #00c9a0;
}
/*
----------------- Proficiencies -----------------
*/

.proficiencies {
    /* margin-top: 8rem; */
    margin-bottom: 15rem;
    text-align: center;
}

.proficiency-heading {
    margin-bottom: 4rem;
}

.p-list,
.p-list li {
    display: flex;
}

.p-list {
    justify-content: space-around;
}

.p-list li {
    flex-direction: column;
}

.p-logo {
    width: 10rem;
    opacity: .6;
}

.p-span {
    color: #252b3a;
}

/*
----------------- Contact -----------------
*/

.contact {
    display: flex;
    justify-content: center;
    background: #252b3a;
    color: #f1f6ff;
    padding-top: 4rem;
    border-top: 3rem solid #3c4453;
}

/* - - - - - title - - - - - */

 .contact-heading {
    text-align: center;
} 

.contact-title {
    margin-bottom: 1rem;
}

.contact-p {
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 60%;
    margin: 2rem auto 4rem auto;
}


/* - - - - - form - - - - - */

.form {
    margin: 0 auto;
    width: 80rem;
}

.person {
    display: flex;
}

.name,
.email,
.message {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.name {
    margin-right: 4rem;
}

.message {
    margin-top: 1rem;
    width: 100%;
}

.label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#name-input,
#email-input,
#message-area {
    padding: 1rem;
}

#name-input:focus,
#email-input:focus,
#message-area:focus {
    outline: none;
    border:1px solid #00c9a0;
    box-shadow: 0 0 1rem #019df7;
    color: #252b3a;
}

#message-area {
    min-height: 20rem;
    max-height: 20rem;

    min-width: 100%;
    max-width: 100%;
}

.submit {
    font-size: 1.5rem;
    color: white;
    padding: 1rem 4rem;
    background: linear-gradient(45deg, #00c9a0, #019df7);
    border-radius: .5rem;
    border: 0;
    margin-top: 3rem;
}

.line {
    width: 80rem;
    margin-top: 3rem;
    color: #f1f6ff;
}

/*
----------------- Footer -----------------
*/

.footer {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    background: #252b3a;
    padding: 2rem 0;
}

.page-author {
    color: #f1f6ff;
}

/*
----------------- Media Queries -----------------
*/

/* animation */
@media screen and (min-width: 1100px) {
    
}

@media screen and (min-width: 1400px) {
    #services {
        margin-top: 10rem;
    }
}

@media screen and (max-width: 1099px) {
    h2 {
        font-size: 2.5rem;
    }

    .about-title {
        font-size: 3rem;
    }

    /* spacings */
    .about-text {
        padding: 0;
    }
    .work,
    #proficiencies {
        margin-bottom: 5rem;
    }

    /* services section */

    .service-div {
        min-height: 24rem;
    }
    .icon {
        width: 5rem;
    }
    .service-title {
        font-size: 1.5rem;
    }
    .service-p {
        font-size: 1rem;
    }

    /* about section */

    .about-container {
        flex-direction: column-reverse;
        text-align: center;
        margin-bottom: 5rem;
    }
    .break {
        display: none;
    }

    /* work section */

    .column-container {
        padding-right: 3%;
    }

    .row-container {
        flex-direction: column;
    }
    .row {
        width: 100%;
    }
}

@media screen and (max-width: 975px) {
    .nav-list {
        justify-content: center;
    }

    .inner-list li {
        padding: 0 1rem;
    }

    .mobile-disapear {
        display: none;
    }

    .form,
    .line {
        width: 80%;
    }
    .footer {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 700px) {

    /* proficiencies */
    .p-logo {
        width: 6rem;
    }


    /* form */
    .name,
    .email {
        width: 100%;
    }

    .email {
        margin-top: 1rem;
    }

    .person {
        flex-direction: column;
    }
    .submit {
        width: 100%;
    }

    .contact-p,
    .page-author {
        max-width: 80%;
    }

    .page-author {
        margin: 0 auto;
    }
}