/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/*
================= Base Styles =================
*/

html {
    font-size: 62.5%;
    color: #252b3a;
}

body {
    background: #f1f6ff;
}

a {
    color: #252b3a;
    text-decoration: none;
}

li {
    list-style: none;
}

a, p, li {
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

.spacing {
    margin: 0 7%;
}

.gradient-text {
    background-image: linear-gradient(135deg, #019df7, #00c9a0);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/*
================= Layout =================
*/

.nav-list,
.inner-list {
    display: flex;
}

.nav-list {
    justify-content: space-between;
}
.inner-list {
    justify-content: flex-end;
}

/*
================= Additional =================
*/

/*
----------------- Header -----------------
*/

.primary-header {
    margin: 2rem 0;
}

/* - - - - - - nav - - - - - - */


.nav-list li {
    font-size: 1.5rem;
    font-weight: 300;
}

.inner-list li {
    padding: 0 2rem;
}

.inner-list li:last-child {
    padding-right: 0;
}

#home {
    font-weight: 700;
    padding-left: 1rem;
    border-left: .3rem solid dodgerblue;
}

#contact {
    color: white;
    padding: 1rem 2rem;
    background: linear-gradient(45deg, #00c9a0, #019df7);
    border-radius: .5rem;
}

/*
----------------- Main -----------------
*/

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.main-content {
    max-width: 70%;
    margin-top: 14rem;
}

.main-text {
    margin-bottom: 4rem;
}

.title {
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 2.5rem;
}

.engineer {
    padding-right: .1rem;
}

.info {
    color: #4f5569;
    font-weight: 400;
    font-size: 2rem;
    max-width: 70%;
    line-height: 1.5;
}

#circle-one,
#circle-two,
#circle-three {
    position: absolute;
    z-index: -1;
    opacity: .25;
}

#circle-one {
    top: 40rem;
    left: 4%;
    width: 18rem;
}

#circle-two {
    top: 19rem;
    left: 35%;
    width: 3rem;
}

#circle-three {
    /* top: 55%; */
    top: 40rem;
    left: 43%;
    width: 9rem;
}

#discover {
    font-size: 1.5rem;
    color: white;
    padding: 1rem 2rem;
    background: linear-gradient(45deg, #00c9a0, #019df7);
    border-radius: .5rem;
}

/* - - - - - main image - - - - - */

.me {
    /* width: 25rem; */
    width: 40rem;
    border-radius: 2rem;
    /* border-radius: 10%; */
    /* border-radius: 50%; */
}

/*
----------------- About -----------------
*/


/*
----------------- Contact -----------------
*/

.contact {
    width: 100%;
    height: 40rem;
    background: #252b3a;
}


/*
----------------- Footer -----------------
*/

.footer {
    text-align: center;
    margin: 2rem 0;
}

.page-author {
    font-size: 1.2rem;
}

.author {
    font-weight: 700;
}